
<div class="container" [style.backgroundColor]="bColor">
    <div class="timeText">
        <div 
            *ngFor="let num of timeText"
            [style.height.px]="80"
            [style.margin-top.px]="15"
            
        >{{num}}
        </div>
    </div>
    <div class="timeBar">

    </div>
    <div class="left">
        
        <app-timer-bar
            *ngFor="let note of scheduleList"
            [scheduleNote]='note'
            (outputNote)="ModifySchedule($event)"
        >
        </app-timer-bar>
    

    </div>


    <div class="right">
        <input type="text" [(ngModel)]="newTask" class="inputAddNew"/>
        <button type="submit" (click)="Add()" class="btnAddTask">ADD</button>
        <div class="listTasks">
            <app-task-bar
                *ngFor="let task of taskList"
                [task]='task'
                (taskDone)="TaskComplete($event)"
            >
            </app-task-bar>
        </div>
        
        <div>
            <p class="btnShowMore" (click)="switch=!switch">Show/Hide Complete Tasks</p>
        </div>

        <div class="listTaskDone" *ngIf="switch">
            <app-task-done
                *ngFor="let taskDone of listTaskDone"
                [taskDone] = 'taskDone'
                (taskUndo) = "TaskUndo($event)"
            >

            </app-task-done>
        </div>

    </div>
</div>

<div [class]="'controlPannel'">
    <label>Background Color</label>
    <button class="btnChangeColor" (click)="bColor='#E9E3D6'" [style.background-color]="'#E9E3D6'"></button>
    <button class="btnChangeColor" (click)="bColor='#E2EEE2'" [style.background-color]="'#E2EEE2'"></button>
    <button class="btnChangeColor" (click)="bColor='#F5E4E4'" [style.background-color]="'#F5E4E4'"></button>

    <div [class]="'addSchedule'">
        <label>
            Time Start
        </label>
        <input type="time" [(ngModel)]="start"/>
        <label>Time End</label>
        <input type="time" [(ngModel)]="end"/>
        <label>Theme Color</label>
        <input type="Color" #inputColor/>
        <textarea [class]="'note'" [(ngModel)]="note">
            
        </textarea>
        <button (click)="AddNote(inputColor)">Add Schedule</button>
    </div>

</div>
